@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .mouseIcon circle {
    animation: moveAndFade 1.5s ease-in-out infinite;
  }

  @keyframes moveAndFade {
    0% {
      transform: translateY(0);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      transform: translateY(.3rem);
      opacity: 1;
    }
  }
}

@layer utilities {
  .underline-under {
    text-underline-position: under;
  }

  .display-box {
    display: -webkit-box;
  }

  .line-clamp {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .line-clamp-1 {
    -webkit-line-clamp: 1;
  }

  .line-clamp-2 {
    -webkit-line-clamp: 2;
  }

  .line-clamp-3 {
    -webkit-line-clamp: 3;
  }
}

[data-aos="new-animation"] {
  opacity: 0;
  transition-property: transform, opacity;

  &.aos-animate {
    opacity: 1;
  }

  @media screen and (min-width: 768px) {
    transform: translateX(100px);

    &.aos-animate {
      transform: translateX(0);
    }
  }
}